[Unit]
Description=EEVideo device daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/eevideo/eedeviced.env
WorkingDirectory=/opt/eevideo
ExecStart=/opt/eevideo/eedeviced-launch.sh
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
