EEVIDEO_BIND=0.0.0.0:5683
EEVIDEO_ADVERTISE_ADDRESS=192.168.1.50
EEVIDEO_IFACE=eth0
EEVIDEO_INPUT=argus
EEVIDEO_SENSOR_ID=0
EEVIDEO_PIXEL_FORMAT=uyvy
EEVIDEO_WIDTH=1280
EEVIDEO_HEIGHT=720
EEVIDEO_FPS=30
EEVIDEO_MTU=1200
